{{define "footer.html"}}
<footer>
  <div class="ft-inner">
    <div class="ft-text">&copy; <span id="year"></span><script>document.getElementById("year").textContent = new Date().getFullYear();
</script> <a href="/" hx-get="/" hx-target="#page-wrapper" hx-push-url="true">Adam Mwaniki</a></div>
    <div class="ft-links">
      <a href="/" hx-get="/" hx-target="#page-wrapper" hx-push-url="true">Home</a>
      {{range .Sections}}
      <a href="/{{.ID}}" hx-get="/{{.ID}}" hx-target="#page-wrapper" hx-push-url="true">{{.NavTitle}}</a>
      {{end}}
      <a href="/tags" hx-get="/tags" hx-target="#page-wrapper" hx-push-url="true">Tags</a>
      <a href="/contact" hx-get="/contact" hx-target="#page-wrapper" hx-push-url="true">Contact</a>
    </div>
  </div>
</footer>
{{end}}
