package views

templ Landing() {
    <div class="flex box-content ">
        // The Intro/Title/Subtitle section --I should find a way to dynamically fill it
        <div class="flex">
            
        </div>
    </div>
}