@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL,GRAD,opsz,wght@0,0,24,400&display=swap');
@import "tailwindcss";

/*fonts*/
:root {
    --font-ubuntu: "Ubuntu", sans-serif; 
    /*picture frame height*/
    --frame-height: calc(100dvh - 84px);
    --frame-height-full: calc(100dvh - 48px);
    --frame-height-phone: calc(100dvh - 64px);
    --frame-height-phone-full: calc(100dvh - 40px);
    /*Intro/Tech-stack spacing*/
    --intro-techstack-spacing: calc(70svh * 3/20);
    --intro-lottie-spacing: calc(70dvh * 1/30);
    /*desk lottie height*/
    --desk-lottie-height: calc(100dvh * 1/4);
    /*about page paragraph section height*/
    --abt-page-p-height: calc(60dvh);
}

/* Icon font styling */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: normal;
  font-variation-settings: 
    'FILL' 0, 
    'wght' 400, 
    'GRAD' 0, 
    'opsz' 24;
}

/* Individual icons by ID */
#menu-icon {
  font-variation-settings: 
    'FILL' 0, 
    'wght' 400, 
    'GRAD' 0, 
    'opsz' 24;
}

#folder-icon {
  font-variation-settings: 
    'FILL' 0, 
    'wght' 500, 
    'GRAD' 200, 
    'opsz' 40;
}

#contact_mail-icon {
  font-variation-settings: 
    'FILL' 0, 
    'wght' 500, 
    'GRAD' 200, 
    'opsz' 40;
}
