@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

/*fonts*/
:root {
    --font-ubuntu: "Ubuntu", sans-serif; 
    /*picture frame height*/
    --frame-height: calc(100dvh - 84px);
    /*Intro/Tech-stack spacing*/
    --intro-techstack-spacing: calc(70svh * 3/20)
}

/*menu icon*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 40
}
