@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import "tailwindcss";

/*fonts*/
:root {
    --font-ubuntu: "Ubuntu", sans-serif; 
    /*picture frame height*/
    --frame-height: calc(100dvh - 84px);
    --frame-height-full: calc(100dvh - 40px);
    --frame-height-phone: calc(100dvh - 64px);
    --frame-height-phone-full: calc(100dvh - 40px);
    /*Intro/Tech-stack spacing*/
    --intro-techstack-spacing: calc(70svh * 3/20);
    --intro-lottie-spacing: calc(70dvh * 1/30);
    /*desk lottie height*/
    --desk-lottie-height: calc(100dvh * 1/4);
    /*about page paragraph section height*/
    --abt-page-p-height: calc(60dvh);
    /*projects page projects section height*/
    --projects-page-projo-sec-height: calc(55dvh);
    /*projects tiles height*/
    --project-tiles-phone-full: calc(100dvh - 68px);
    --project-tiles-md-full: calc(100dvh - 92px);
    --project-tiles-md-full-rest: calc(100dvh - 66px);
    /*navbar text section height*/
    --nav-phone-full: calc(100dvh - 44px);
    --nav-sm-full: calc(100dvh - 64px);
}

html {
  scroll-behavior: smooth;
}

/* Hide close button & nav overlay by default */
.close-btn {
  display: none;
}

.nav-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

/* When menu is open */
.menu-open .nav-overlay {
  opacity: 1;
  transition: opacity 0.3s ease-out;
  pointer-events: auto;
}

/* Switch visible button */
.menu-open #menu-toggle {
  display: none;
}

.menu-open .close-btn {
  display: flex;
}

/* Prevent scroll when open (mobile) */
@media (max-width: 640px) {
  .menu-open {
    overflow: hidden;
    touch-action: none;
    height: 100vh;
  }
}



